/* home */
.home {
    background-image: url("./background.jpg");
    background-size: cover;
}

.input-search-container {
    width: clamp(320px, 45vw, 500px);
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.button-div {
    top: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
}

#noResultDiv {
    position: absolute;
    inset: 0;
    top: 120%;
}




/* searched all meals div */

.single-meal-div {
    cursor: pointer;
    overflow: hidden;
    transition: transform 300ms ease;
}

.single-meal-div img {
    width: 100%;
}

.single-meal-div:hover img {
    transform: scale(1.1);
    transition: transform 300ms ease;
}

#searched-meals-list-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin: 20px;
}



/* targeted meal div */


#meal-details-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    color: white !important;
    overflow: hidden;
}

#meal-details-div div {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    max-width: 340px;
    background-color: #5e7d2d;
}

#meal-details-div img {
    max-width: 340px;
}

#meal-details-div h2 {
    margin-bottom: 16px;
}

#meal-details-div ul {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    margin-left: -2.4rem;
    margin-top: 18px;
}

li {
    font-weight: 300;
    list-style: none;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 2px solid rgba(255, 255, 255, 0.05);
    width: fit-content;
}

.d-none {
    display: none;
}